<div class='comments'>
  {{#each this}}
  <div class="card border-primary mb-3" id="edit-comment-form">
        <div class="card-header text-bg-primary mb-3 fw-bold fs-5">
          <h6 class="text-end">Comment by {{user.name}} on {{format_date created_at}}</h6>
        </div>
        <div class="card-body">
          <p>
            {{comment}}
          </p>
            <button class="btn btn-primary" id="delete-comment-btn">Delete</button>
        </div>
      </div>
  {{/each}}
</div>

<script src="/js/delete-comment.js"></script>