body, html {
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#new-trigger {
  position: relative;
}

body {
  background: url(./images/pTodoBRgc.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}