{{#if posts.length}}
<ul>
    {{#each posts as |post|}}
    <li>
        {{> dashboard-post-info post}}
    </li>
    {{/each}}
</ul>
{{/if}}

<div class="text-center">
    <button id="new-trigger" type="submit" class="btn btn-primary mb-3">+ New Bucket List</button>
</div>


<script src="/js/dashboard.js"></script>