{{#if posts.length}}
<ul>
    {{#each posts as |post|}}
    <li>
    {{> dashboard-post-info post}}
    </li>
    {{/each}}
</ul>
{{/if}}

<button id="new-trigger" type="submit" class="btn btn-primary mb-3">+ New Bucket List</button>

<script src="/js/dashboard.js"></script>