<div id="myBucketList">
    <h3>My Bucketlist</h3>
    <ul>
        <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
    </ul>
</div>

<div id="addItem">
    <label for="newBucketItem">Add new bucket list item</label>
    <input type="text">
    <button type="submit">Submit</button>
</div>

<div id="blogPost">
    <label for="title">Title</label>
    <input type="text">
    <label for="title">Content</label>
    <input type="text">
    <button type="submit">Submit</button>
</div>

