<div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">Bucket List Blog</h3>
        <div id="blogPostTitle">
            <label for="title">Title</label>
            <input type="text">
            <button type="submit">Submit</button>
        </div>
        <div id="blogPostContent">
            <label for="title">Content</label>
            <textarea rows="4" cols="50">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
        </div>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">My Bucket List</h4>
          <div id="myBucketList">
                <ul>
                    <li>Item one</li>
                    <li>Item two</li>
                    <li>Item three</li>
                </ul>
            </div>
        </div>
        <div id="addItem">
            <label for="newBucketItem">Add new bucket list item</label>
            <input type="text">
            <button type="submit">Submit</button>
      </div>
      </div>
    </div>
  </div>

