<!-- header start-->
<div class="container">
  <div class="pt-4 pb-2 py-5 mt-5 text-center">
    <p class="d-block mx-auto mb-4 display-1">🪣</p>
    <h1 class="fw-bold display-2">Bucket List Blog</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly find bucket list ideas. Create your own
        bucket list. Follow others as they journey to the end.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button
          id="homeIdea"
          type="button"
          class="btn btn-outline-primary btn-lg px-4 my-4"
        >Get an idea</button>
      </div>
    </div>
  </div>
</div>
<!-- header end -->

<!-- api button click result start -->
<div id="apiSection" class="card text-center hidden">
  <h5 class="card-header">Let's go!</h5>
  <div class="card-body">
    <h5 id="card-title" class="card-title mb-0 pb-3">API Result here</h5>
    {{#if logged_in}}
    <button id="addBucketItem" class="btn btn-primary">Add to my bucket list!</button>
    {{else}}
    <a class="btn btn-primary" href="/login">Add to my bucket list!</a>
    {{/if}}
  </div>
</div>
<!-- api button click result end -->

<!-- add to bucket list start -->
<div id="theBucketList" class="theBucketList">
  <h5 class="card-header">My Bucket List</h5>
  <ul>
    <li id="theBucketItem">Test item</li>
    <!-- place partial here so that user can add post to the item they just added to their list -->
    <li></li> 
  </ul>
</div>
<!-- add to bucket list end -->

<!-- Post Form -->
<ul>
  {{#each posts as |post|}}
  <li>
    {{>post-info post}}
  </li>
  {{/each}}
</ul>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="./js/idea.js"></script>