<!-- header start-->
    <div class="container">
      <div class="px-4 py-5 my-5 text-center">
        <p class="d-block mx-auto mb-4 display-1">🪣</p>
        <h1 class="fw-bold display-2">Bucket List Blog</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Quickly find bucket list ideas. Create your own bucket list. Follow others as they journey to the end.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-lg px-4">Login</button>
            <button type="button" class="btn btn-primary btn-lg px-4">Sign up</button>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-success btn-lg px-4 my-4">Get an idea</button>
          </div>
        </div>
      </div>
      </div>
<!-- header end -->