<!-- header start-->
<div class="container">
  <div class="pt-4 pb-2 py-5 mt-5 text-center">
    <p class="d-block mx-auto mb-4 display-1" data-bs-toggle="tooltip" title="lets go">🪣</p>
    <h1 class="fw-bold display-2">Bucket List Blog</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly find bucket list ideas. Create your own
        bucket list. Follow others as they journey to the end.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button id="homeIdea" type="button" class="btn btn-info btn-lg px-4 my-4" data-bs-toggle="modal"
          data-bs-target="#apiSection">Get an idea</button>
      </div>
    </div>
  </div>
</div>
<!-- header end -->

<!-- Modal -->
<div class="modal fade border-primary" id="apiSection" tabindex="-1" aria-labelledby="apiSection" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-bg-primary">
        <h1 class="modal-title fs-5" id="apiSection">Bucket List Idea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 id="card-title" class="card-title mb-0 pb-3"></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
        {{#if logged_in}}
        <a id="addBucketItem" class="btn btn-primary" href="/dashboard/newpost">Add to my 🪣</a>
        {{else}}
        <a class="btn btn-primary" href="/login">Login to add this idea to your 🪣</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<!-- Post Form -->
<ul>
  {{#each posts as |post|}}
  <li>
    {{>post-info post}}
  </li>
  {{/each}}
</ul>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="./js/idea.js"></script>
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
