<!-- New Post Form -->
<div class="card border-primary">
  <div class="card-header text-bg-primary fw-bold fs-5">Create New Bucket List</div>
  <div class="card-body">
    <form id="new-post-form">
      <div class="mb-3">
        <label for="post-title" class="form-label">Title</label>
        <input
          type="Username"
          id="post-title"
          name="post-title"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="post_content" class="form-label">Content</label>
        <textarea
          class="form-control"
          id="content"
          name="post_content"
          rows="2"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>

<script src="/js/add-post.js"></script>