<div class="card border-primary mb-3">
  <div class="card-header text-bg-primary fw-bold fs-5">SignUp</div>
  <div class="card-body">
    <form id="signup-form">
      <div class="mb-3">
        <label for="username-signup" class="form-label">Username</label>
        <input type="text" class="form-control" id="username-signup" />
      </div>
      <div class="mb-3">
        <label for="password-signup" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-signup" />
      </div>
      <button type="submit" class="btn btn-primary mb-3">SignUp!</button>
      <a href="/login" id="login-link"></a>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>