{{>post-info singlePost}}

{{#if logged_in}}
<!-- Comment Form -->
<div class="card border-primary mb-3">
  <div class="card-header text-bg-primary fw-bold fs-5 mb-3">Comment</div>
  <div class="mb-3">
    <form class="card-body" id="comment-form">
      <textarea
        name="comment-body"
        class="form-control mb-3"
        rows="3"
      >
      </textarea>
      <button type="submit" class="btn btn-primary">Add comment</button>
    </form>
  </div>
</div>
{{/if}}

{{>comments singlePost.comments}}
{{#if logged_in}}
<script src="/js/comment.js"></script>
<script src="/js/delete-comment.js"></script>
{{/if}}